Source: discovery
Section: non-free/admin
Priority: optional
Maintainer: Bitmark Developers <developers@bitmark.com>
Uploaders: Bitmark Developers <developers@bitmark.com>
Build-Depends: libtool, pkg-config, build-essential, autoconf, automake,
               libzmq3-dev,
               golang [!powerpc],
               gccgo [powerpc]
Standards-Version: 3.9.6
Homepage: https://bitmark.com
Package: discovery
Architecture: amd64
Version: 0.1
Recommends:
Description: Discovery monitors various crypto-currencies for Bitmark transfer payments.
